<footer class="inline-block">
    <div class="container inline-block">
        <div class="row" style="color: #3b71ca;">
            Copyright &copy; Website name 2022
        </div>
    </div>
</footer>